html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*Vehicle Edit option image styles*/

.editimage {
    width: 200px;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



/*Vehicle create option image preiew*/

.imagPreview{
    max-height: 200px;
    margin-top:10px;
    display:none;
}