@model AVTMS.Models.VehicleNotes

@{
    ViewData["Title"] = "Create";
}

<div class="text-center mt-2 mb-2">
    <h2>Vehicle Notes Page </h2>
</div>



<hr />
<div class="row mt-2 text-center">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoteContent" class="control-label"></label>
                <textarea asp-for="NoteContent" class="form-control" rows="18" ></textarea>
                <span asp-validation-for="NoteContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" class ="form-control" asp-items="ViewBag.VehicleId"></select>
            </div>
            <div class="accent-blue">
                <div class="form-group">
                    <label asp-for="VehicleId" class="control-label">See in Here Registered Vehicles </label>
                    <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.VehicleId">
                        <option value="">Select a Vehicle...</option>
                    </select>
                </div>
            </div>


         <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
            <div>
                <a asp-action="Index" class="btn btn-outline-secondary btn-block">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    <br />
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!--Vehicle Number plate Search-->
    <script>
        $(document).ready(function () {
            $('#VehicleId').select2({
                placeholder: "Search Vehicle by Number Plate...",
                minimumInputLength: 1,
                ajax: {
                    url: '/VehicleNotes/SearchVehicleNumberPlates', // url of the action came from vehiclenotes controller line 233
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            term: params.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                }
            });
        });
    </script>
}


