@model AVTMS.Models.VehicleNotes

@{
    ViewData["Title"] = "Edit";
}

<div class="card shadow-sm mb-2 mt-5">
    <div class="card-body">
        <h4 class="mt-2 mb-2 text-center">
            <i class="fas fa-edit me-2 text-primary mr-2"></i>Edit Vehicle Note Details
        </h4>
    </div>
</div>
<hr />
<h5 class="mb-4 mt-3 text-primary fw-semibold border-bottom pb-2 text-muted text-center text-bold">
    <i class="fas fa-sticky-note mr-2"></i>
    Note ID: @Model.Id
</h5>
<hr />

<div class="row mt-4 card shadow-sm rounded-3 mt-2 mb-2 pt-2 pb-2">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="NoteContent" class="control-label"></label>
                <input asp-for="NoteContent" class="form-control" />
                <span asp-validation-for="NoteContent" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.VehicleId"></select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CreatedByID" class="control-label"></label>
                <input asp-for="CreatedByID" class="form-control" />
                <span asp-validation-for="CreatedByID" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" type="datetime-local" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ModifiedOn" class="control-label"></label>
                <input asp-for="ModifiedOn" class="form-control" type="datetime-local" />
                <span asp-validation-for="ModifiedOn" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block" />
            </div>

            <div class="form-group mb-3">
                <a asp-action="Index" class="btn btn-outline-secondary btn-block">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
