@model AVTMS.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}


<div class="container mt-3">
    <div class="card shadow-md rounded-4 mb-3">
        <div class="card-body p-5">
            <h1 class="text-primary text-center m"> Vehilce Registration Page</h1>
            <h4 class="text-muted text-center mt-2"><small>Double check your details</small></h4>

        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Upload Image</label>
                        <input type="file" name="imageFile" class="form-control" id="imageFileInput" accept="image/*" />
                        <img id="imagePreview" src="#" alt="Image Preview" style="max-height: 200px; margin-top: 10px; display: none;" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="VehicleNumberPlate" class="control-label"></label>
                        <input asp-for="VehicleNumberPlate" class="form-control" required/>
                        <span asp-validation-for="VehicleNumberPlate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="VehicleModel" class="control-label"></label>
                        <input asp-for="VehicleModel" class="form-control" required />
                        <span asp-validation-for="VehicleModel" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="VehicleColor" class="control-label"></label>
                        <input asp-for="VehicleColor" class="form-control" />
                        <span asp-validation-for="VehicleColor" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="VehicleNote" class="control-label"></label>
                        <input asp-for="VehicleNote" class="form-control" required />
                        <span asp-validation-for="VehicleNote" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="VehicleOwnerNIC" class="control-label">Vehicle Owner NIC</label>
                        <select id="VehicleOwnerNIC" plqceholder="Search Vehicle Owner NIC..." name="VehicleOwnerNIC" class="form-control" style="width:100%" required>
                            <option value="">Search NIC...</option>
                        </select>
                    </div>
                </div>

            </div>

            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
            <div>
                <a asp-action="Index" class="btn btn-outline-secondary btn-block">Back to List</a>
            </div>
        </form>
    </div>
</div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    //image preview

    <script>
        document.getElementById('imageFileInput').addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.getElementById('imagePreview');
                    img.src = e.target.result;
                    img.style.display = 'block';
                };
                reader.readAsDataURL(file);
            }
        });
    </script>

        <!-- Vehicle owner NiC serach area--->

    
    <script>
        $(document).ready(function () {
            $('#VehicleOwnerNIC').select2({
                placeholder: "Search Vehicle Owner NIC...",
                minimumInputLength: 1,
                ajax: {
                    url: '/Vehicles/SearchNICs',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            term: params.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                }
            });
        });
    </script>


    <!--Successfully email send notification-->
    <script>
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Success',
                    autohide: true,
                    delay: 3000,
                    body: successMessage
                });
            }
        });
    </script>

    

}


   


