@model AVTMS.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VehicleNumberPlate" class="control-label"></label>
                <input asp-for="VehicleNumberPlate" class="form-control" />
                <span asp-validation-for="VehicleNumberPlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleModel" class="control-label"></label>
                <input asp-for="VehicleModel" class="form-control" />
                <span asp-validation-for="VehicleModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleColor" class="control-label"></label>
                <input asp-for="VehicleColor" class="form-control" />
                <span asp-validation-for="VehicleColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleNote" class="control-label"></label>
                <input asp-for="VehicleNote" class="form-control" />
                <span asp-validation-for="VehicleNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleOwnerNIC" class="control-label"></label>
                <select asp-for="VehicleOwnerNIC" class ="form-control" asp-items="ViewBag.VehicleOwnerNIC"></select>
            </div>
         
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
