@model AVTMS.Models.Users

@{
    ViewData["Title"] = "Edit User";
}

<h2>Edit User</h2>

<form asp-action="EditUser" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="UserType">User Type</label>
        <input asp-for="UserType" class="form-control" readonly />
        <span asp-validation-for="UserType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FullName">Full Name</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PasswordHash">Password (Encrypted)</label>
        <input class="form-control" readonly
               value="@Model.PasswordHash?.Substring(0, 20) + " ..."" />
        <span asp-validation-for="PasswordHash" class="text-danger" ></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a class="btn btn-secondary"  asp-controller="Account" asp-action="RegisteredUserEmailVerify" title="Enter your Email address to change password">Change Password</a>
    

    <a asp-action="RegisteredUsers" class="btn btn-secondary">Cancel</a>
</form>
