@using AVTMS.ViewModels;
@model RegisterViewModel; 


@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="account-container">
    <div class="account-box">
        <!-- Logo -->
        <div class="logo-container">
            <img src="/AdminLTE/dist/img/credit/logLogo.png" alt="Government Logo" />
        </div>
        <h2 class="text-center mb-4">Register</h2>
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="UserType" class="form-label">Type of User</label>
                <select asp-for="UserType" class="form-select">
                    <option value="">Select User Type </option>
                    <option value="Admin">Admin</option>
                    <option value="Base User">Base User</option>
                    <option value="Authorized User">Authorized User</option>
                </select>
                <span asp-validation-for="UserType" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter your name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter your email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Enter your password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"> Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm your password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mb-3 text-end">
                <a asp-controller="Home" asp-action="Privacy" class="text-link">Terms and Conditions</a>
            </div>
         
           
            <input type="submit" value="Register" class="register-button w-100 p-2" />
            <p class="text-center mt-2">
                Already have an account? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Login</a>
            </p>

            <div class="text-center">
                <a asp-controller="Account" asp-action="Login" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>

    </div>

</div>

<!--Client side validations-->
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
